# ===========================
# Default Unity Collab and Git Ignore Rules Combined
# ===========================

# OS Generated
# ============
.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Visual Studio / MonoDevelop generated
# =====================================
[Ee]xported[Oo]bj/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
ExportedObj/
.consulo/
*.tmp
*.svd

# Unity generated
# ===============
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
[Oo]bj/
[Bb]uild
sysinfo.txt
*.stackdump
*.pidb.meta
# Builds
*.apk
*.unitypackage

# Mine Additional
# ===============
*.wav*
*.mp3*
